.results {
    th.field-media_preview,
    th.field-gallery_preview {
        width: 80px;

        img {
            display: block;
            width: 80px;
            height: auto;
            margin: 0;
        }
    }
}

.inline-related fieldset.module.smc-tabular-row {
    .form-row {
        display: flex;
        flex-direction: row;

        .field-box {
            float: none;
            width: auto;
            padding-right: 20px;
            margin-right: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }

        label {
            width: auto;
        }
    }
}

.inline-group .tabular {
    th.original,
    td.original {
        display: none !important;
    }

    tr.has_original td {
        padding-top: 5px !important;
    }

    td.field-media_preview,
    td.field-gallery_preview {
        min-width: 40px;

        img {
            display: block;
            width: 40px;
            height: auto;
            margin: 0;
        }
    }

    tr.dynamic-portfoliogallery_set,
    tr.dynamic-portfoliomedia_set {
        td {
            vertical-align: middle;
        }
    }

    .vForeignKeyRawIdAdminField {
        opacity: 0.6;
        width: 3em;

        &:focus {
            opacity: 1;
        }
    }
}

.inline-related fieldset.module.collapse {
    margin-bottom: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

    &.collapsed {
        margin-bottom: 5px;
        box-shadow: none;
    }

    &.collapsed h2 {
        background: none;
        color: #666;
    }

    h2 {
        background: none;
        color: #666;

        .collapse-toggle {
            color: #447e9b;
        }
    }

    .form-row {
        &:last-child {
            border-bottom: none;
        }
    }
}

.form-row .editor-toolbar {
    clear: left;
}

.model-gallery {
    .form-row.field-synopsis {
        .vTextField {
            box-sizing: border-box;
            display: block;
            clear: left;
            width: 100%;
        }
    }
}
