.results {
    th.field-media_preview,
    th.field-gallery_preview {
        width: 80px;

        img {
            display: block;
            width: 80px;
            height: auto;
            margin: 0;
        }
    }
}

.inline-group .tabular {
    th.original,
    td.original {
        display: none !important;
    }

    tr.has_original td {
        padding-top: 5px !important;
    }

    td.field-sort_order {
        width: 50px !important;
    }

    td.field-media_preview,
    td.field-gallery_preview {
        width: 40px !important;

        img {
            display: block;
            width: 40px;
            height: auto;
            margin: 0;
        }
    }

    tr.dynamic-portfoliogallery_set,
    tr.dynamic-gallerymedia_set {
        td {
            vertical-align: middle;
        }
    }

.inline-related fieldset.module.collapse {
    margin-bottom: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

    &.collapsed {
        margin-bottom: 0;
        box-shadow: none;
    }

    &.collapsed h2 {
        background: none;
        color: #666;
    }

    h2 {
        background: none;
        color: #666;

        .collapse-toggle {
            color: #447e9b;
        }
    }

    .form-row {
        &:last-child {
            border-bottom: none;
        }
    }
}

.form-row .editor-toolbar {
    clear: left;
}

.model-gallery {
    .form-row.field-synopsis {
        .vTextField {
            box-sizing: border-box;
            display: block;
            clear: left;
            width: 100%;
        }
    }
}
