@import (less) "variables.less";
@import (less) "mixins.less";
@import (less) "reset.less";
@import (less) "main.less";
@import (less) "print.less";

@base_font: 'PT Sans', sans-serif;
@title_font: 'PT Sans Narrow', sans-serif;
@label_font: 'PT Sans', sans-serif;
@filter_font: 'PT Sans Narrow', sans-serif;

@text_font: 'PT Serif', serif;
@text_title_font: 'PT Serif', serif;
