@import (less) "variables.less";
@import (less) "mixins.less";
@import (less) "reset.less";
@import (less) "main.less";
@import (less) "print.less";

@header_bg: #fff;
@header_fg: #ccc;
@header_title_fg: #ccc;
@header_faint_fg: #ddd;
