@base_font: sans-serif;
@title_font: sans-serif;
@label_font: sans-serif;
@filter_font: sans-serif;

@text_font: serif;
@text_title_font: serif;

@body_bg: #eee;
@body_fg: #333;
@body_title_fg: #222;
@body_faint_fg: #777;
@body_link_fg: #2548b3;

@main_bg: #fff;
@main_border: 2px solid #e8e8e8;

@header_bg: #565656;
@header_fg: #fff;
@header_title_fg: #fff;
@header_faint_fg: #e4e4e4;

@footer_fg: #555;

@portfolio_bg: #f7f7f7;
@portfolio_fg: #333;

@gallery_synopsis_fg: #666;
@gallery_caption_fg: #555;

@thumbnail_border_color: #eee;
@thumbnail_active_border_color: #ddd;
@thumbnail_loading_border_color: #bbb;

@filter_fg: #444;
@filter_hover_bg: #e9e9e9;
@filter_current_bg: #d6d6d6;
@filter_shadow: #ccc;

@pager_bg: #d9d9d9;
@pager_hover_bg: #c9c9c9;
@pager_fg: #000;
@pager_faint_fg: #555;

@page_action_fg: #555;
@page_action_hover_fg: #333;

@gallery_link_fg: #333;
@gallery_link_image_border_color: #ddd;
@gallery_link_image_border_color_mobile: #eee;

@admin_toolbar_bg: #b7b7b7;
@admin_toolbar_fg: #efefef;
@admin_toolbar_border_color: #cfcfcf;
@admin_toolbar_action_hover_bg: #a9a9a9;

@gallery_content_separator: 1px dotted #ddd;
@site_extra_separator: 1px dotted #ddd;
@portfolio_separator: 2px solid #e8e8e8;

@big_screen: 1000px;
@medium_screen: 850px;
@small_screen: 600px;
@tiny_screen: 450px;

@inner_margin_h: 30px;

@max_image_size: 540px;
